#navigationBar {
  display: flex;
  background-color: aquamarine;
  justify-content: space-between;
  background-image: linear-gradient(rgb(93, 93, 236), rgb(255, 255, 255));
 
}

#navigationTittle {
  background-color: aquamarine;
  font-family: cursive;
  font-size: large;
  padding: 20px;
  background-image: linear-gradient(rgb(93, 93, 236), rgb(255, 255, 255));

 
}

#navigationLinks a {
  text-decoration: none;
  padding: 20px;
  font-size: large;
  background-image: linear-gradient(rgb(93, 93, 236), rgb(255, 255, 255));

}

#navigationLinks {
  display: flex;
  align-items: center;
  background-color: darkgoldenrod;
  background-image: linear-gradient(rgb(93, 93, 236), rgb(255, 255, 255));
  
}

#navigationLanguage {
  display: flex;
  align-items: center;
  background-color: darkgoldenrod;
  background-image: linear-gradient(rgb(93, 93, 236), rgb(255, 255, 255));
}

#Signup {
  display: flex;
  align-items: center;
  background-color: red;
  background-image: linear-gradient(rgb(104, 100, 100), rgb(177, 177, 165));
}

#loginButton,
#logoutButton,
#signupButton,
#addButton,
#deleteButton {
  padding: 10px 10px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #999;
  background-image: linear-gradient(rgb(93, 93, 236), rgb(255, 255, 255));
  width: 200px;
}

#loginButton:hover,
#signupButton:hover,
#addButton:hover,
#deleteButton:hover,
#logoutButton:hover {
  background-color: #3e8e41;
  background-image: linear-gradient(rgb(93, 93, 236), rgb(255, 255, 255));

}

#loginButton:active,
#signupButton:active,
#addButton:active,
#deleteButton:active,
#logoutButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  background-image: linear-gradient(rgb(93, 93, 236), rgb(255, 255, 255));
}

#login {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-image: linear-gradient(rgb(93, 93, 236), rgb(255, 255, 255));
}

#login form {
  background-color: yellowgreen;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-image: linear-gradient(rgb(93, 93, 236), rgb(255, 255, 255));
}

#login form div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
  
}

#AllProducts {
  justify-items: inherit;
  justify-items: center;
  flex-direction: row-reverse;
  display: flex;  
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  flex: wrap;
  columns: auto auto auto auto;

  
}
 
.Product {
  justify-items: inherit;
    width: 35%;
    height: 35%;
    border: 5px solid #c8ceec;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    columns: auto auto auto auto;
    margin-left: 35%;
}

::-moz-selection {
  /* Code for Firefox */
  color: red;
  background: purple;
}

::selection {
  color: red;
  background: purple;
}

::placeholder {
  color: rgb(255, 137, 137);
  opacity: 0.5;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: red;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 102px;
}
#finish{
  text-align: center;
  outline-style: double;
  outline-color: rgb(74, 48, 241);
outline-width: 3px;
}
#navigationBar1 {
  display: flex;
  background-color: aquamarine;
  justify-content: space-between;
  background-image: linear-gradient(rgb(93, 93, 236), rgb(255, 255, 255));
 
}
#product1{
  background-color: rgb(139, 170, 216);
  text-align: center;
  outline: thick ridge rgb(108, 118, 201);
 
  
}
#signup{
 background: rgb(102, 102, 218);
    font-family: sans-serif;
    font-size: 10px;
    padding: 4em 4em 2em;
    max-width:  400px;
    margin: 50px auto 0;
    box-shadow: 0 0 1em #222;
    text-align:center; 
    }
    input {
      display: block;
      box-sizing: border-box;
      width: 100%;
      outline: none;
      margin:0;
    }
    input[type="password"] {
      background: #fff;
      border: 1px solid #dbdbdb;
      font-size: 10px;
      padding: .8em .5em;
      border-radius: 2px;
    }
     input[type="password"]:focus {
      background: #fff;
    }
    span {
      display:block;
      background: #F9A5A5;
      padding: 2px 5px;
      color: #666;
    }
    img{
      width: 256px;
      height: 176px; 
    }

   

